# Lecture 01: Basics of Python

### OBJECTS
All the numbers, list, function, class, module is saved in a box called "object".
<br><br>
Assignment (binding of a name to an object) creates a reference to the right-hand-side object

Assignment (binding of a name to an object) creates a reference to the right-hand-side object

In [1]:
a = [1, 2, 3]  #creates a reference of a to the list [1,2,3].

In [2]:
b = a

In [3]:
a.append(4)

In [6]:
# Since a is overwritten, b is referred to the overwritten a.
# To avoid this, use other packages (like copy).
b

[1, 2, 3, 4]

The reference also works inside the function!
That is, one can change the factor(input)'s inside values in the function.

In [7]:
def append_element(some_list, element):
    some_list.append(element)

In [13]:
data = [1, 2, 3]

In [14]:
append_element(data, 4)
data

[1, 2, 3, 4]

In [16]:
data.attribute

AttributeError: 'list' object has no attribute 'attribute'

### Attributes and Methods
An object A has an attribute (other python object B that is saved inside A) and a method (a function that can approach B inside A). 
<br><br>
The grammer of attributes and methods are "obj.attribute_name"

In [17]:
a = 'foo'

In [19]:
# we use an attribute "upper" to the object "a" which has a object "foo"
a.upper()

'FOO'

In [20]:
a.count('o')

2

### Modules
"MODULES" are ".py" file that contains a function and declaration of variables, which we can add and use in other files.

Definitions from a module can be imported into other modules or into the main module (the collection of variables that you have access to in a script executed at the top level and in calculator mode).

In [24]:
# # gen some_module.py with notepad
# PI = 3.141592
# def f(x):
#     return x+2
# def g(a,b):
#     return a+b

import some_module
result = some_module.f(5)
pi = some_module.PI

In [25]:
result

7

In [26]:
pi

3.141592

In [28]:
from some_module import f, g, PI
result = g(5, PI)

In [31]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)
r1, r2

(5.141592, 9.141592)

### Mutable and immutable objects
Most objects like list, dictionary, nparray or classes are mutable.

In [32]:
a_list = ['foo', 2, [4, 5]]

In [33]:
a_list[2] = (3,4)

In [34]:
a_list

['foo', 2, (3, 4)]

Others, like strings and tuples, are immutable.

In [35]:
a_tuple = (3, 5, (4, 5))

In [36]:
a_tupe[1] = 'four'

NameError: name 'a_tupe' is not defined

Numbers

In [37]:
#we use "j" for the imaginary number 
cval = 1 + 2j
cval*(1-2j)

(5+0j)

String arrays are immutable

In [38]:
c = """
This is a longer string that
spans multiple lines
"""
c

'\nThis is a longer string that\nspans multiple lines\n'

In [41]:
a = 'this is a string'

In [42]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [43]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [44]:
s = 'python'

In [45]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [46]:
s[:3]

'pyt'

In [49]:
# escape string backslash
s = '12\\34'

In [50]:
print(s)

12\34

In [51]:
s = r'this\has\no\special\characters'

In [52]:
s

'this\\has\\no\\special\\characters'

In [54]:
a = 'Jooyoung '
b = 'Cha'
a + b

'Jooyoung Cha'

In [55]:
template = '%.2f %s are worth $%d'

In [56]:
template%(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth $1'

In [57]:
print(template%(4.5560, 'Argentine Pesos', 1))

4.56 Argentine Pesos are worth $1

In [59]:
'{0:0.2f} {1} are worth ${2}'.format(4.5560, 'Argentube Pesos', 1)

'4.56 Argentube Pesos are worth $1'

In [60]:
# use NONE for default value
def add_and_maybe_multiply(a,b,c=None):
    result =a+b
    if c is not None:
        result = result*c
    return result

In [61]:
add_and_maybe_multiply(3,5)

8

In [62]:
add_and_maybe_multiply(3,5,2)

16

Date and Time

In [63]:
from datetime import datetime, date, time

In [64]:
dt = datetime(2018, 12, 20, 13, 30, 21)

In [65]:
dt.day

20

In [66]:
dt.minute

30

In [67]:
dt.replace(minute=0, second=0)

datetime.datetime(2018, 12, 20, 13, 0)

datetime.timdelta 객체: 두 datetime 객체의 차이

In [68]:
dt2 = datetime(2018, 12, 27, 16, 30)

In [70]:
delta = dt2 - dt
delta

datetime.timedelta(days=7, seconds=10779)

In [71]:
type(delta)

datetime.timedelta

In [72]:
dt + delta

datetime.datetime(2018, 12, 27, 16, 30)

if, elif, else

In [73]:
x = -3
if x<0:
    print('It\'s negative')
elif x == 0:
    print('Equal to zero')
elif 0<x<5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

It's negative

In [74]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [75]:
total

504

zip

In [79]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

In [80]:
zip(seq1, seq2)

In [81]:
seq3 = [False, True]

In [84]:
zip(seq1, seq2, seq3)

In [85]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('%d: %s, %s' %(i, a, b))

0: foo, one
1: bar, two
2: baz, three

LIST COMPREHENSION

In [96]:
# [expr for val in collection if condition]

# equivalent to

# result = []
# for val in collection:
#     if condiition:
#         result.append(expr)

In [97]:
strings = {'a', 'as', 'bat', 'car', 'dove', 'python'}

In [99]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [101]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'as': 0, 'dove': 1, 'bat': 2, 'a': 3, 'python': 4, 'car': 5}

In [102]:
loc_mapping = dict((val, idx) for idx, val in enumerate(strings))
loc_mapping

{'as': 0, 'dove': 1, 'bat': 2, 'a': 3, 'python': 4, 'car': 5}

남녀이름 구분 지정

In [104]:
all_data = [['Tom', 'Billy', 'Jefferson', 'Andrew', 'Wesley', 'Steven'], 
            ['Susie', 'Casey', 'Jill', 'Ana', 'Eva', 'Jennifer' ]]

In [106]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Jefferson', 'Wesley', 'Steven', 'Jennifer']

or equivalently,

In [108]:
result = [name for names in all_data for name in names
         if name.count('e') >= 2]
result

['Jefferson', 'Wesley', 'Steven', 'Jennifer']

From tuples to lists example

In [86]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]

In [88]:
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

이거왜이러징

In [111]:
[x for tup in some_tuples]

[9, 9, 9]

In [94]:
[x in tup for tup in some_tuples]

[False, False, True]

In [112]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [113]:
a = []
func()

In [114]:
a

[]

In [115]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [116]:
func()
a

[0, 1, 2, 3, 4]