In [1]:
import sqlite3

In [31]:
con = sqlite3.connect(':memory:')   # RAM(비영구적)에 DB 생성
#con = sqlite3.connect('my_database.db')  # 현재 디렉토리에 DB 생성

In [32]:
# Create a table called sales with four attributes
query = """CREATE TABLE sales
        (customer VARCHAR(20),
        product VARCHAR(40),
        amount FLOAT,
        date DATE);"""

In [33]:
con.execute(query)   # perform SQL commands
con.commit()    # Save(commit) the change

In [34]:
# insert a few rows of data into the table
data = [('Richard Lucas', 'Notepad', 2.50, '2014-01-02'),
       ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
       ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
       ('Stephen Randolph', 'Computer', 679.40, '2014-02-20')]

In [35]:
statement = "INSERT INTO sales VALUES(?, ?, ?, ?)"

In [36]:
con.executemany(statement, data)
con.commit()

In [37]:
# 원하는 데이터만 선택해 커서 객채 생성, 리스트로 변환

cursor = con.execute("SELECT * FROM sales") #모든 값 선택
# cursor = con.execute("SELECT customer FROM sales WHERE product='Binder'")
# cursor = con.execute("""SELECT customer, date, amount*12 FROM sales
#                         WHERE (amount > 100) & (product='Printer')""")
# cursor = con.execute("SELECT * FROM sales WHERE SUBSTR(customer,1,1)='S'")
rows = cursor.fetchall()  #조합된 결과 모두를 리스트 형태로 변화

In [38]:
rows

[('Richard Lucas', 'Notepad', 2.5, '2014-01-02'),
 ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
 ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
 ('Stephen Randolph', 'Computer', 679.4, '2014-02-20')]

In [39]:
row_counter = 0
for row in rows:
    print(row)
    row_counter += 1
print('Number of rows: {}'.format(row_counter))

('Richard Lucas', 'Notepad', 2.5, '2014-01-02')
('Jenny Kim', 'Binder', 4.15, '2014-01-15')
('Svetlana Crow', 'Printer', 155.75, '2014-02-03')
('Stephen Randolph', 'Computer', 679.4, '2014-02-20')
Number of rows: 4

### 테이블에 새 레코드 삽입하기

In [40]:
import csv
import sqlite3

In [41]:
input_file = 'supplier_data.csv'

In [42]:
con = sqlite3.connect('Suppliers.db')
c = con.cursor()

In [43]:
create_table = """CREATE TABLE IF NOT EXISTS Suppliers
                (Supplier_Name VARCHAR(20),
                Invoice_number VARCHAR(20),
                Part_Number VARCHAR(20),
                Cost FLOAT,
                Purchase_Date DATE);"""

In [44]:
c.execute(create_table)
con.commit()

In [45]:
file_reader = csv.reader(open(input_file, 'r'), delimiter = ',')
header = next(file_reader, None)  # 입력 파일의 첫 iteration 읽고 값 할당 후 넘김

In [46]:
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    c.execute("INSERT INTO Suppliers VALUES (?, ?, ?, ?, ?);", data)
con.commit()

['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Z', '920-4803', '3321', '$615.00', '2/3/14']
['Supplier Z', '920-4804', '3321', '$615.00', '2/10/14']
['Supplier Z', '920-4805', '3321', '$615.00', '2/17/14']
['Supplier Z', '920-4806', '3321', '$615.00', '2/24/14']

Check!

In [52]:
output = c.execute("SELECT * FROM Suppliers")
rows = output.fetchall()

In [53]:
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '2341', '$500.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier X', '001-1001', '5467', '$750.00', '1/20/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9501', '7009', '$250.00', '1/30/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Y', '50-9505', '6650', '$125.00', '2/3/14']
['Supplier Z', '920-4803', '3321', '$615.00', '2/3/14']
['Supplier Z', '920-4804', '3321', '$615.00', '2/10/14']
['Supplier Z', '920-4805', '3321', '$615.00', '2/17/14']
['Supplier Z', '920-4806', '3321', '$615.00', '2/24/14']

### UPDATING

In [47]:
input_file = 'data_for_updating.csv'

In [54]:
con = sqlite3.connect(':memory:')
query = """CREATE TABLE IF NOT EXISTS sales
            (customer VARCHAR(20),
            product VARCHAR(20),
            amount FLOAT,
            date DATE);"""
con.execute(query)
con.commit()

In [55]:
data = [('Richard Lucas', 'Notepad', 2.50, '2014-01-02'),
       ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
       ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
       ('Stephen Randolph', 'Computer', 679.40, '2014-02-20')]

In [56]:
for tuple in data:
    print(tuple)

('Richard Lucas', 'Notepad', 2.5, '2014-01-02')
('Jenny Kim', 'Binder', 4.15, '2014-01-15')
('Svetlana Crow', 'Printer', 155.75, '2014-02-03')
('Stephen Randolph', 'Computer', 679.4, '2014-02-20')

In [57]:
statement = "INSERT INTO sales VALUES(?, ?, ?, ?)"
con.executemany(statement, data)
con.commit()

In [58]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None)

In [60]:
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    con.execute("UPDATE sales SET amount=?, date=? WHERE customer=?;", data)
con.commit()

In [61]:
cursor = con.execute("SELECT * FROM sales")
rows = cursor.fetchall()

In [62]:
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

['Richard Lucas', 'Notepad', '4.25', '5/11/2014']
['Jenny Kim', 'Binder', '6.75', '5/12/2014']
['Svetlana Crow', 'Printer', '155.75', '2014-02-03']
['Stephen Randolph', 'Computer', '679.4', '2014-02-20']

In [9]:
import csv
from datetime import datetime, date

In [10]:
input_file = 'supplier_data.csv'

In [23]:
import pymysql as db
con = db.connect(host = 'localhost', port=3306,
                user='root', password='cha9212',
                db='my_suppliers', charset = 'utf8')
c = con.cursor()

In [14]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header=next(file_reader)

In [15]:
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        if column_index < 4:
            data.append(str(row[column_index]).lstrip('$')\
                       .replace(',', '').strip())
        else:
            a_date = datetime.date(datetime.strptime(\
            str(row[column_index]), '%m/%d/%y'))
            # %Y: year is 2018, %y: year is 15
            a_date = a_date.strftime('%Y-%m-%d')
            data.append(a_date)
    print(data)
    c.execute("""INSERT INTO Suppliers VALUES (%s, %s, %s, %s, %s);""", data)
con.commit()

['Supplier X', '001-1001', '2341', '500.00', '2014-01-20']
['Supplier X', '001-1001', '2341', '500.00', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.00', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.00', '2014-01-20']
['Supplier Y', '50-9501', '7009', '250.00', '2014-01-30']
['Supplier Y', '50-9501', '7009', '250.00', '2014-01-30']
['Supplier Y', '50-9505', '6650', '125.00', '2014-02-03']
['Supplier Y', '50-9505', '6650', '125.00', '2014-02-03']
['Supplier Z', '920-4803', '3321', '615.00', '2014-02-03']
['Supplier Z', '920-4804', '3321', '615.00', '2014-02-10']
['Supplier Z', '920-4805', '3321', '615.00', '2014-02-17']
['Supplier Z', '920-4806', '3321', '615.00', '2014-02-24']

In [16]:
c.execute("SELECT * FROM Suppliers")
rows = c.fetchall()

In [17]:
for row in rows:
    row_list_output = []
    for column_index in range(len(row)):
        row_list_output.append(str(row[column_index]))
    print(row_list_output)

['Supplier X', '001-1001', '2341', '500.0', '2014-01-20']
['Supplier X', '001-1001', '2341', '500.0', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.0', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.0', '2014-01-20']
['Supplier Y', '50-9501', '7009', '250.0', '2014-01-30']
['Supplier Y', '50-9501', '7009', '250.0', '2014-01-30']
['Supplier Y', '50-9505', '6650', '125.0', '2014-02-03']
['Supplier Y', '50-9505', '6650', '125.0', '2014-02-03']
['Supplier Z', '920-4803', '3321', '615.0', '2014-02-03']
['Supplier Z', '920-4804', '3321', '615.0', '2014-02-10']
['Supplier Z', '920-4805', '3321', '615.0', '2014-02-17']
['Supplier Z', '920-4806', '3321', '615.0', '2014-02-24']

In [24]:
import MySQLdb

In [25]:
output_file = '5output.csv'

In [27]:
con = MySQLdb.connect(host='localhost', port=3306, db='my_suppliers', \
                     user='root', passwd='cha9212')
c=con.cursor()

In [29]:
filewriter = csv.writer(open(output_file,'w',newline=''),delimiter=',')
header=['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
filewriter.writerow(header)

61

In [30]:
c.execute("""SELECT *
        FROM Suppliers
        WHERE Cost > 700.0;""")

2

In [31]:
rows = c.fetchall()
for row in rows:
    filewriter.writerow(row)

테이블 내 레코드 갱신

In [32]:
input_file = 'data_for_updating_mysql.csv'

In [34]:
con = MySQLdb.connect(host='localhost', port=3306, db='my_suppliers', \
                     user='root', passwd='cha9212')
c = con.cursor()

In [36]:
file_reader = csv.reader(open(input_file, 'r', newline = ''), delimiter= ',')
header = next(file_reader, None)

In [37]:
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(str(row[column_index]).strip())
    print(data)
    c.execute("""UPDATE Suppliers SET Cost=%s, Purchase_Date=%s WHERE Supplier_Name=%s;""", data)
con.commit()

['600.00', '2014-01-22', 'Supplier X']
['200.00', '2014-02-01', 'Supplier Y']

In [38]:
c.execute("SELECT * FROM Suppliers")
rows = c.fetchall()

In [39]:
for row in rows:
    output=[]
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

['Supplier X', '001-1001', '2341', '600.0', '2014-01-22']
['Supplier X', '001-1001', '2341', '600.0', '2014-01-22']
['Supplier X', '001-1001', '5467', '600.0', '2014-01-22']
['Supplier X', '001-1001', '5467', '600.0', '2014-01-22']
['Supplier Y', '50-9501', '7009', '200.0', '2014-02-01']
['Supplier Y', '50-9501', '7009', '200.0', '2014-02-01']
['Supplier Y', '50-9505', '6650', '200.0', '2014-02-01']
['Supplier Y', '50-9505', '6650', '200.0', '2014-02-01']
['Supplier Z', '920-4803', '3321', '615.0', '2014-02-03']
['Supplier Z', '920-4804', '3321', '615.0', '2014-02-10']
['Supplier Z', '920-4805', '3321', '615.0', '2014-02-17']
['Supplier Z', '920-4806', '3321', '615.0', '2014-02-24']